/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

.app-container {
  padding: 5vw 8vw;
  min-height: 100vh;
  background-color: #f9f9f9;
}

/************* MEDIA **********/
@media (min-width: 600px) {
  .app-container {
    margin: 8vw 5vw 2vw 25vw;
    padding: 2vw 2vw;
    box-shadow: 0px 0px 3px rgb(177, 177, 177);
    border-radius: 10px;
  }
}

@media (min-width: 900px) {
  .app-container {
    margin: 4vw 20vw 2vw 30vw;
    padding: 2vw 2vw;
  }
}

body {
  background-color: rgb(209, 179, 140);
}
