<br />

<div *ngIf="essayDetails.title; then editPage; else noEditPage"></div>

<ng-template #editPage
  ><div class="alert alert-info noSelect" *ngIf="essayDetails.title">
    <div class="row">
      <div class="col-9">Title - {{ essayDetails.title }}</div>

      <div class="col-3">
        <span class="badge badge-light">
          {{ essayDetails.wordCount }} words</span
        >
      </div>
    </div>
  </div>
  <div *ngFor="let para of paragraphArray; index as i">
    <div class="zippy">
      <div
        class="zippy-heading noSelect"
        [class.expanded]="isExpanded[i]"
        (click)="onClick(i)"
      >
        Paragraph reference - {{ para.reference }}
        <div
          class="k-icon "
          [ngClass]="isExpanded[i] ? 'k-i-minus-circle' : 'k-i-plus-circle'"
        ></div>
      </div>
      <div *ngIf="isExpanded[i]">
        <app-kendoeditor
          class="mt10"
          maxWordCount="{{
            Math.floor(
              multiplicator * this.getWeightageMultiplicator(para.weightage)
            )
          }}"
        ></app-kendoeditor>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noEditPage
  ><div class="alert alert-danger" role="alert">
    Essay Specifications are not entered!
  </div></ng-template
>
