<div class="row" *ngIf="!authService.isLoading() && authService.isLoggedin()">
  <div class="col-4">
    <b>{{ name }}</b>
  </div>
  <div class="col-4">
    <b>Number of Paragraphs: {{ numberofparas }} </b>
  </div>
  <div class="col-4">
    <button class="btn-sm btn-warning" (click)="onLogOut()">
      Logout
    </button>
  </div>
</div>

<ul class="nav nav-tabs" *ngIf="!authService.isLoading()">
  <li
    class="nav-item active"
    [routerLinkActive]="['link-active']"
    [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="authService.isLoggedin()"
  >
    <a [routerLink]="['/specifications']" class="nav-link"
      >Add Specifications
    </a>
  </li>
  <li
    class="nav-item active"
    [routerLinkActive]="['link-active']"
    *ngIf="authService.isLoggedin()"
  >
    <a [routerLink]="['/edit']" class="nav-link">Edit Page</a>
  </li>

  <li
    class="nav-item active"
    [routerLinkActive]="['link-active']"
    *ngIf="admin"
  >
    <a [routerLink]="['/admin']" class="nav-link">Admin Page </a>
  </li>

  <li
    class="nav-item active"
    [routerLinkActive]="['link-active']"
    *ngIf="!authService.isLoggedin()"
  >
    <a [routerLink]="['/']" class="nav-link">Login Page</a>
  </li>
</ul>
